*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}
body {
	margin: 0;
	padding: 5px;
	font: 13px Verdana, Geneva, sans-serif;
	line-height: 26px;
	background: #f5f5f5;
}
.govde {
	width: 100%;
	min-width: 300px;
	max-width: 1440px;

}
.clear:before,
.clear:after {
	content: " ";
	display: table;
	height: 0;
}
.clear:after {
	clear: both;
}
.clear {
	*zoom: 1;
}
.tut {
	width: 100%;
	max-width: 1120px;
	margin: 0 auto;
}
.kutu {
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #e2e2e2;
	border-top: 5px solid #dd4b4c;
	border-radius: 3px;
	background: #f9f9f9;
	color: #666;
	overflow: hidden;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.kutu-baslik {
	font-size: 18px;
	border-bottom: 1px solid #eee;
	margin: 0 0 10px 0;
	padding-bottom: 5px;
	font-weight: normal;
}
pre {
	background: #f7f7f7;
	padding: 5px;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	border: 1px solid #eee;
	border-radius: 3px;
	word-wrap: break-word;
}
code {
	color: #F00;
	border: 1px solid #E4E4E4;
	padding: 0 3px;
	border-radius: 3px;
	background: rgba(255, 255, 255, .5)
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
a {
	color: #22A7F0;
	transition: color .2s ease-in-out, background .2s ease-in-out;
	-o-transition: color .2s ease-in-out, background .2s ease-in-out;
	-moz-transition: color .2s ease-in-out, background .2s ease-in-out;
	-webkit-transition: color .2s ease-in-out, background .2s ease-in-out;
}
a:hover {
	color: #d14836;
}
a:active {
	color: #81CFE0;
}
a:not(:hover) {
	text-decoration: none
}
.kenar ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.kenar a {
	text-decoration: none;
	color: #7A7272;
}
.kenar a:hover {
	color: #d14836
}
.kenar li:before {
	content: "■";
	color: rgba(209, 72, 54, 0.43);
	margin-right: 7px;
}
div#rkkr div {
    float: left;
    padding: 5px;
    box-shadow: 0px 0px 5px -1px;
    width: 90px;
    margin: 0;
    color: rgb(209, 209, 213);
}

@media screen and (min-width: 768px) {
	body {
		padding: 0;
	}
	.govde {
		max-width: 1120px;
		margin: 0 auto;
		padding: 20px 10px 0 10px;
	}
	.kenar {
		float: left;
		width: 33.4821428%;

	}
	.icerik {
		float: right;
		width: 64.6484375%;
	}
}
