@media screen and (min-width: 768px) {

	body {
		font-size: 12px;
	}
	.tut {
		width: 100%;
		margin: 0 auto;
	}
	#ust {
		background: transparent url(images/ust/ust.jpg) no-repeat center;
		background-size: cover;
	}
	#ust > .tut {
		height: 160px;
	}
	#logo {
		line-height: 160px;
		font-size: 3rem;
		font-weight: 300;
		margin-right: -250px;
		padding: 0 0 0 5px;
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
		width: 100%;
	}
	#logo > img {
		height: auto;
		max-height: 65px;
		margin-top: 47px
	}
	#logo a:not(:hover) {
		color: #fff;
	}
	#logo a:hover {
		text-decoration: none;
	}
	#ust-arama-gecis,
	#ana-menu-gecis {
		display: none;
	}
	#ana-navigasyon {
		box-shadow: 0 1px 5px -2px #000;
	}
	.ana-menu {
		display: block !important;
		position: static;
		border: none;
	}
	#ust-arama {
		display: block !important;
		float: right;
		margin-top: 54px;
		border: none;
		width: 250px;
		clear: none;
	}
	#ust-arama-metni {
		background: #fff url(images/ara.png) no-repeat center;
		border-color: transparent;
		border-radius: 50%;
		color: transparent;
		cursor: pointer;
		float: right;
		height: 32px;
		line-height: 16px;
		opacity: .6;
		width: 32px;
	}
	#ust-arama-metni:focus{
		background-color: #fff;
		background-image: none;
		border-color: #eee;
		border-radius: 3px;
		color: #444;
		cursor: text;
		opacity: .8;
		transition: width .2s ease, opacity .2s ease; /* Evet, sadece odaklanıldığında çalışacak. */
		-o-transition: width .2s ease, opacity .2s ease;
		-moz-transition: width .2s ease, opacity .2s ease;
		-webkit-transition: width .2s ease, opacity .2s ease;
		width: 100%;
	}
	#ust-arama-butonu {
		display: none;
	}
	.ana-menu li {
		float: left;
	}
	.ana-menu .sub-menu {
		padding: 0;
		opacity: 0;
		transition: all .2s ease;
		-o-transition: all .2s ease;
		-moz-transition: all .2s ease;
		-webkit-transition: all .2s ease;
		visibility: hidden;
		position: absolute;
		margin-top: -10px;
	}
	.ana-menu a {
		background: #3E3E3E;
		padding: 0 10px;
		color: #ccc;
		border-bottom: none;
	}
	.ana-menu .menu-item-has-children {
		border-bottom: none;
	}
	.ana-menu .current-menu-item > a {
		border-left: none;
		padding-left: 10px;
		color: #fff;
		background: #3E3E3E;
	}
	.ana-menu a:hover {
		text-decoration: none;
		color: #fff
	}
	.ana-menu .menu-item-has-children:hover > .sub-menu {
		display: block;
		visibility: visible;
		opacity: 1;
		margin-top: 0;
		border-top: 1px solid #4688AF;
		box-shadow: 0 3px 5px -2px #000
	}
	.ana-menu .sub-menu li {
		float: none;
	}
	.ana-menu .sub-menu a {
		border-left: none;
		line-height: 37px;
	}
	#sosyal-ikonlar a:first-child {
		margin-left: 0;
	}
	#sosyal-ikonlar a {
		opacity: .5;
	}
	#sosyal-ikonlar a:hover {
		opacity: 1;
	}
	.yorum .avatar {
		width: 60px;
	}
	.yorum-sag {
		margin-left: 70px;
		min-height: 70px;
	}
	.yorum-ust-sag {
		float: right;
		clear: right;
	}
	.ozet .yazi-gorseli {
		display: block;
		float: left;
	}
	.ozet .yazi-gorseli + .yazi-icerigi {
		margin-left: 160px;
	}
	.ozet .yazi-gorseli img {
		width: 150px;
		height: auto;
		border-radius: 2px
	}
	.wp-caption {
		position: relative;
	}
	.wp-caption-text,
	.gallery-caption {
		position: absolute;
		bottom: 10px;
		margin: 0;
		background: rgba(255, 255, 255, 0.53);
		color: white;
		text-shadow: 0 0 5px #000;
	}
	.gallery-item {
		position: relative;
		word-wrap: break-word;
		overflow: hidden;
		display: inline-block;
		margin: 0 10px 10px 0;
	}
	.gallery-caption {
		visibility: hidden;
		bottom: 0;
		transition: bottom .2s ease;
		-o-transition: bottom .2s ease;
		-moz-transition: bottom .2s ease;
		-webkit-transition: bottom .2s ease;
	}
	.gallery-item:hover .gallery-caption {
		visibility: visible;
		bottom: 10px;
	}
	.tek-dar .tut {
		max-width: 740px;
	}
	.tek-normal .tut {
		max-width: 940px;
	}
	.tek-genis .tut {
		max-width: 1120px;
	}
	.icerik-yan #ana-icerik {
		width: 64.6484375%;
		float: left;
	}
	.icerik-yan #kenar-icerik {
		width: 33.4821428%;
		float: right;
	}
	.icerik-yan .tut {
		max-width: 1120px;
	}
	.yan-icerik #ana-icerik {
		width: 64.6484375%;
		float: right;
	}
	.yan-icerik #kenar-icerik {
		width: 33.4821428%;
		float: left;
	}
	.yan-icerik .tut {
		max-width: 1120px;
	}
	.tek-dar #kenar-icerik,
	.tek-normal #kenar-icerik,
	.tek-genis #kenar-icerik {
		margin-top: 20px;
		column-count: 2;
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-gap: 20px;
		-moz-column-gap: 20px;
		-webkit-column-gap: 20px;
	}
	.tek-dar #kenar-icerik > .kutu,
	.tek-normal #kenar-icerik > .kutu,
	.tek-genis #kenar-icerik > .kutu {
		margin-top: 0;
	}
	.tek-dar #kenar-icerik .kutu,
	.tek-normal #kenar-icerik .kutu,
	.tek-genis #kenar-icerik .kutu {
		column-break-inside: avoid;
		-moz-column-break-inside: avoid;
		-webkit-column-break-inside: avoid;
	}
}
